<div class="row m-0 ps-2 pe-2 h-40px bg-color-sub-theme">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 m-0 p-0 color-white top-left-climate-list">
      <ul class="top-left-climate-list-ul w-100per">
        <li class="en-font display-flex align-items-center position-absolute"
          [ngClass]="{'visibility-hidden': leftListSliding[0]}"><i
            class="fas fa-calendar-alt bg-color-theme w-50px text-align-center"
            pTooltip="{{selectedLang.translate['date']}}" tooltipPosition="right"
            tooltipStyleClass="{{selectedLang.value}}-font"></i>&emsp;{{climate?.dateTime?.date}}</li>
        <li class="en-font display-flex align-items-center  position-absolute"
          [ngClass]="{'visibility-hidden': leftListSliding[1]}"><i
            class="fas fa-clock bg-color-theme w-50px text-align-center" pTooltip="{{selectedLang.translate['time']}}"
            tooltipPosition="right"
            tooltipStyleClass="{{selectedLang.value}}-font"></i>&emsp;{{climate?.dateTime?.time}}</li>
        <li class="en-font display-flex align-items-center position-absolute"
          [ngClass]="{'visibility-hidden': leftListSliding[2]}"><i
            class="fas fa-thermometer-full bg-color-theme w-50px text-align-center"
            pTooltip="{{selectedLang.translate['temperature']}}" tooltipPosition="right"
            tooltipStyleClass="{{selectedLang.value}}-font"></i><span [innerHTML]="climate?.getTemperature()"></span>
        </li>
        <li class="en-font display-flex align-items-center  position-absolute lh-40px"
          [ngClass]="{'visibility-hidden': leftListSliding[3]}"><i
            class="fas fa-sun bg-color-theme w-50px text-align-center" pTooltip="{{selectedLang.translate['weather']}}"
            tooltipPosition="right" tooltipStyleClass="{{selectedLang.value}}-font"></i><span
            class="{{lang.value}}-font">&emsp;{{climate?.getWeather()}}</span></li>
        <li class="en-font display-flex align-items-center position-absolute"
          [ngClass]="{'visibility-hidden': leftListSliding[4]}"><i
            class="fas fa-wind bg-color-theme w-50px text-align-center" pTooltip="{{selectedLang.translate['wind']}}"
            tooltipPosition="right" tooltipStyleClass="{{selectedLang.value}}-font"></i><span
            [innerHTML]="climate?.getWind()"></span></li>
        <li class="en-font display-flex align-items-center h-40px position-absolute lh-40px"
          [ngClass]="{'visibility-hidden': leftListSliding[5]}"><i
            class="fas fa-tint bg-color-theme w-50px text-align-center"
            pTooltip="{{selectedLang.translate['humidity']}}" tooltipPosition="right"
            tooltipStyleClass="{{selectedLang.value}}-font"></i>&emsp;{{climate?.getHumidity()}}</li>
        <li class="en-font display-flex align-items-center h-40px position-absolute lh-40px"
          [ngClass]="{'visibility-hidden': leftListSliding[6]}"><i
            class="fas fa-cloud bg-color-theme w-50px text-align-center" pTooltip="{{selectedLang.translate['cloud']}}"
            tooltipPosition="right" tooltipStyleClass="{{selectedLang.value}}-font"></i>&emsp;{{climate?.getCloud()}}
        </li>
      </ul>
    </div>
    <div class="col-12  col-sm-12 col-md-7 col-lg-7 m-0 p-0 color-white top-right-icon-list">
      <ul class="display-flex">
        <li pTooltip="{{selectedLang.translate['facebook']}}" tooltipPosition="left"
          tooltipStyleClass="{{selectedLang.value}}-font"><i class="fab fa-facebook-f"></i>
        </li>
        <li pTooltip="{{selectedLang.translate['instagram']}}" tooltipPosition="left"
          tooltipStyleClass="{{selectedLang.value}}-font"><i class="fab fa-instagram"></i>
        </li>
        <li pTooltip="{{selectedLang.translate['twitter']}}" tooltipPosition="left"
          tooltipStyleClass="{{selectedLang.value}}-font"><i class="fab fa-twitter"></i></li>
        <li pTooltip="{{selectedLang.translate['youtube']}}" tooltipPosition="left"
          tooltipStyleClass="{{selectedLang.value}}-font"><i class="fab fa-youtube"></i></li>
        <li pTooltip="{{selectedLang.translate['language']}}" tooltipPosition="left"
          tooltipStyleClass="{{selectedLang.value}}-font" class="top-right-icon-language">
          <i class="fas fa-language"></i>
          <ul class="top-right-icon-language-list">
            <li *ngFor="let lang of langs" class="{{lang.font}} color-black justify-content-end"
              (click)="changeLanguage(lang)">
              <span>{{lang.name}}</span>
            </li>
          </ul>
        </li>
        <li
          pTooltip="{{selectedLang.translate['server']}} - {{status ? selectedLang.translate['online']:selectedLang.translate['offline']}}"
          tooltipPosition="left" tooltipStyleClass="{{selectedLang.value}}-font" class="top-right-icon-language">
          <i class="fas fa-circle color-red f-size-0-9rem" [ngClass]="{'color-green': status}"></i>
        </li>
      </ul>
    </div>
  </div>