@use "global/variables";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

body {
  background-color: variables.$color-alto !important;
}

//Align Items
.align-items-center {
  align-items: center !important;
}

//Background Color
.bg-color-white {
  background-color: variables.$color-white !important;
}
.bg-color-black {
  background-color: variables.$color-black !important;
}
.bg-color-anti-flash-white {
  background-color: variables.$color-anti-flash-white !important;
}
.bg-color-theme {
  background-color: variables.$color-theme !important;
}
.bg-color-sub-theme {
  background-color: variables.$color-sub-theme !important;
}

//Border
.border-1px-solid {
  border: 1px solid rgba(0, 0, 0, 0.17);
}
.border-bottom-3px-solid-1b9bff {
  border-bottom: 3px solid variables.$color-theme;
}
.border-color-theme {
  border: 3px solid variables.$color-theme;
}

//Color
.color-dodger-blue {
  color: variables.$color-dodger-blue !important;
}
.color-white {
  color: variables.$color-white !important;
}
.color-black {
  color: variables.$color-black !important;
}
.color-gallery {
  color: variables.$color-gallery !important;
}
.color-anti-flash-white {
  color: variables.$color-anti-flash-white !important;
}
.color-red {
  color: variables.$color-red !important;
}
.color-green {
  color: variables.$color-green !important;
}
.color-lime-green {
  color: variables.$color-lime-green !important;
}
.color-theme {
  color: variables.$color-theme !important;
}

//Display
.display-flex {
  display: flex !important;
}
.display-none {
  display: none !important;
}

//Font Size
.f-size-0-9rem {
  font-size: 0.9rem !important;
}
.f-size-1rem {
  font-size: 1rem !important;
}

.f-size-1-1rem {
  font-size: 1.1rem !important;
}

.f-size-1-2rem {
  font-size: 1.2rem !important;
}

.f-size-1-5rem {
  font-size: 1.5rem !important;
}
.f-size-2rem {
  font-size: 2rem !important;
}
.f-size-2-5rem {
  font-size: 2.5rem !important;
}

//Font Weight
.f-weight-bold {
  font-weight: bold !important;
}

//Height
.h-10px {
  height: 10px !important;
}
.h-20px {
  height: 20px !important;
}
.h-30px {
  height: 30px !important;
}
.h-40px {
  height: 40px !important;
}
.h-50px {
  height: 50px !important;
}
.h-100px {
  height: 100px !important;
}
.h-120px {
  height: 120px !important;
}
.h-150px {
  height: 150px !important;
}
.h-200px {
  height: 200px !important;
}
.h-300px {
  height: 300px !important;
}
.h-400px {
  height: 400px !important;
}
.h-inherit {
  height: inherit !important;
}

//Float
.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

//Justify Content
.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: end !important;
}

//Line Height
.lh-40px {
  line-height: 40px !important;
}

//Opacity
.opacity-1 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

//Padding
.pl-15px {
  padding-left: 15px !important;
}

.pr-15px {
  padding-right: 15px !important;
}

.pl-30px {
  padding-left: 30px !important;
}

.pr-30px {
  padding-right: 30px !important;
}

//Position
.position-absolute {
  position: absolute !important;
}

//Right
.right-0px {
  right: 0 !important
}

//Left
.left-m280px {
  left: -280px !important;
}

//Text Align
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}

//Text Transform
.capitalize {
  text-transform: capitalize !important;
}

//Visibility
.visibility-visible {
  visibility: visible !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

//Width
.w-46px {
  width: 46px !important;
}
.w-50px {
  width: 50px !important;
}
.w-100px {
  width: 100px !important;
}
.w-100per {
  width: 100% !important;
}

//General
.en-font-1 {
  font-family: "Open Sans", sans-serif;
}
.en-font {
  font-family: "Oswald", sans-serif !important;
}
.ta-font-1 {
  font-family: "Meera Inimai", sans-serif;
}
.ta-font {
  font-family: "Mukta Malar", sans-serif !important;
}
.p-tooltip {
  font-family: "Oswald", sans-serif;
}
.p-tooltip-arrow {
  border-left-color: variables.$color-white !important;
  border-right-color: variables.$color-white !important;
}
.p-tooltip-text {
  color: variables.$color-theme !important;
  font-weight: bold;
  background-color: variables.$color-white !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.side-menu {
  display: none !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .side-menu {
    display: block !important;
    position: absolute;
    width: 250px;
    height: 100%;
    left: 0px;
    background-color: variables.$color-white !important;
  }
  .main {
    position: absolute;
    left: 250px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
