$color-dodger-blue: #1b9bff;

$color-ucla-blue: #557a95;
$color-dark-midnight-blue: #003B5C;

$color-lime-green: #32CD32;

$color-white: #ffffff;
$color-black: #000000;
$color-gallery: #ececec;
$color-anti-flash-white: #f2f2f2;
$color-alto: #dddddd;
$color-red: #ff0000;
$color-green: #00ff00;
$color-spanish-grey: #979797;
$color-theme: $color-ucla-blue;
$color-sub-theme: $color-dark-midnight-blue;