@use "../../../../../global/variables";
.carousel .prev,
.carousel .next {
  height: 400px;
  width: 50px;
  position: absolute;
}

.carousel .main {
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel .slider {
  width: 100%;
  position: absolute;
  color: variables.$color-white;
  text-align: center;
}

.carousel .prev {
  left: 0;
}

.carousel .next {
  right: 0;
}

.carousel .slider {
  bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 20%);
}

.carousel .tile {
  bottom: 0;
  background-color: rgba(0, 0, 0, 20%);
}

.carousel .tile ul {
  list-style: none;
  height: 30px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .tile ul > li {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.carousel .tile .tile-bar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: variables.$color-white;
}

.carousel .tile {
  width: 100%;
  height: 30px;
  position: absolute;
}

.carousel .prev:hover,
.carousel .next:hover {
  background-color: rgba(0, 0, 0, 30%);
}
