.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-black {
  background-color: #000000 !important;
}
.bg-color-anti-flash-white {
  background-color: #f2f2f2 !important;
}
.bg-color-theme {
  background-color: #1b9bff !important;
}
