$color-dodger-blue: #1b9bff;
$color-white: #ffffff;
$color-black: #000000;
$color-gallery: #ececec;
$color-anti-flash-white: #f2f2f2;
$color-theme: $color-dodger-blue;
.color-dodger-blue {
  color: $color-dodger-blue !important;
}
.color-white {
  color: $color-white !important;
}
.color-black {
  color: $color-black !important;
}
.color-gallery {
  color: $color-gallery !important;
}
.color-anti-flash-white {
  color: $color-anti-flash-white !important;
}
.color-theme {
  color: $color-theme !important;
}
