.f-size-1rem {
  font-size: 1rem !important;
}

.f-size-1-2rem {
  font-size: 1.2rem !important;
}

.f-size-1-5rem {
  font-size: 1.5rem !important;
}

.f-size-2-5rem {
  font-size: 2.5rem !important;
}
